## Machine learning model for heart disease prediction

### step 1 : Importing the dataset

In [2]:
#importing Dataset 
#dataset available on kaggle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


data=pd.read_csv(r'C:\Users\Dell\Desktop\Github\CHD\chd.csv')
data.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [3]:
data

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

### step 2 : data preprocessing

In [4]:
#calculating null values
data.isnull().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [5]:
data.dropna(axis=0,inplace=True)

In [6]:
data.isnull().sum()

male               0
age                0
education          0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
TenYearCHD         0
dtype: int64

In [7]:
#feature selection
y= data['TenYearCHD']


x=data[['age','sysBP','diaBP','totChol', 'heartRate' , 'male' ]]

x

      age  sysBP  diaBP  totChol  heartRate  male
0      39  106.0   70.0    195.0       80.0     1
1      46  121.0   81.0    250.0       95.0     0
2      48  127.5   80.0    245.0       75.0     1
3      61  150.0   95.0    225.0       65.0     0
4      46  130.0   84.0    285.0       85.0     0
...   ...    ...    ...      ...        ...   ...
4231   58  141.0   81.0    187.0       80.0     1
4232   68  168.0   97.0    176.0       60.0     1
4233   50  179.0   92.0    313.0       66.0     1
4234   51  126.5   80.0    207.0       65.0     1
4237   52  133.5   83.0    269.0       80.0     0

[3656 rows x 6 columns]

### step 3: splitting the data into training and testing datset

In [8]:
#split
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size = 0.4, random_state=1)

### step 4 :Applying the algorithms

#### 1) Random forest algorithm

In [9]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, roc_curve, classification_report

m3 = 'Random Forest Classfier'
rf = RandomForestClassifier(n_estimators=200, random_state=0,max_depth=12)
rf.fit(train_x,train_y)

rf_predicted = rf.predict(test_x)

rf_conf_matrix = confusion_matrix(test_y, rf_predicted)
rf_acc_score = accuracy_score(test_y, rf_predicted)
print("confussion matrix")
print(rf_conf_matrix)
print("\n")
print("Accuracy of Random Forest:",rf_acc_score*100,'\n')
print(classification_report(test_y,rf_predicted))

confussion matrix
[[1224   31]
 [ 187   21]]


Accuracy of Random Forest: 85.09911141490089

              precision    recall  f1-score   support

           0       0.87      0.98      0.92      1255
           1       0.40      0.10      0.16       208

    accuracy                           0.85      1463
   macro avg       0.64      0.54      0.54      1463
weighted avg       0.80      0.85      0.81      1463

#### 2) Logistic regresssion

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, roc_curve, classification_report

m1 = 'LogisticRegression'
lr = LogisticRegression(random_state=1, max_iter=1000)
model = lr.fit(train_x, train_y)
lr_predict = lr.predict(test_x)
lr_conf_matrix = confusion_matrix(test_y, lr_predict)
lr_acc_score = accuracy_score(test_y, lr_predict)
print("confussion matrix")
print(lr_conf_matrix)
print("\n")
print("Accuracy of Logistic Regression:",lr_acc_score*100,'\n')
print(classification_report(test_y,lr_predict))

confussion matrix
[[1239   16]
 [ 191   17]]


Accuracy of Logistic Regression: 85.85099111414901

              precision    recall  f1-score   support

           0       0.87      0.99      0.92      1255
           1       0.52      0.08      0.14       208

    accuracy                           0.86      1463
   macro avg       0.69      0.53      0.53      1463
weighted avg       0.82      0.86      0.81      1463

### step 5 : loading the model into pickle for future use in the application

In [11]:
import pickle
pickle.dump(lr,open('picklechdfinal.pkl','wb'))

In [12]:
import sys, json
model=pickle.load(open('picklechdfinal.pkl','rb'))


'age','sysBP','diaBP','totChol', 'heartRate' , 'male'
#get our data as an array from read_in()

# 51	126.5	80.0	207.0	65.0	1->0

age = 51
sysBP =126.5
diaBP=80.0
totChol=207.0
heartRate=65
male=1


#convert these input in dictionary
dict1 = {'0':age, '1':sysBP, '2':diaBP, '3':totChol, '4':heartRate, '5':male}
dict1

{'0': 51, '1': 126.5, '2': 80.0, '3': 207.0, '4': 65, '5': 1}

In [14]:
df_input = pd.DataFrame(dict1,index=[0],columns=["0","1","2","3","4","5"])
print(df_input)

final=lr.predict(df_input)
print(int(final[0]))

    0      1     2      3   4  5
0  51  126.5  80.0  207.0  65  1
0

In [16]:
fi=model.predict(df_input)
fi[0]

0